.todo-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 620px;
  background-color: $todo-normal;
  margin-bottom: 8px;
  padding-bottom: 10px;

  &.stared {
    background-color: $light-warning;
  }

  &.active {
    box-shadow: 0 4px 4px rgba(gray, .25);
    padding-bottom: 0;
  }

  .todo-header {
    display: flex;
    padding-left: 2rem;
    padding-top: 1.5rem;
  }

  .todo-footer {
    color: #757575;
    padding-left: 4.5rem;
  }

  .todo-content {
    border-top: 3px solid $light-gray;
    padding: 23px 72px 24px;
    position: relative;
  }

  .todo-row {

  }

  .todo-icon {
    width: 24px;
  }

  .todo-form-control {
    flex: 1;
  }

  .todo-title {
    flex: 1;
    span {
      font-size: 1.5rem;
    }
    input {
      padding: 0;
      border: 0;
      outline: none;
      font-size: 1.5rem;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  .todo-check {
    $check-box-size: 1.5rem;
    margin-right: 1rem;

    input {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        cursor: pointer;
        margin-top: 5px;
        padding: 0;
      }

      & + label:before {
        content: '';
        display: block;
        width: $check-box-size;
        height: $check-box-size;
        border-radius: 2px;
        background: white;
      }
      &:checked + label:before {
        background: theme-color('primary');
      }
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        bottom: 9px;
        background: white;
        width: 3px;
        height: 3px;
        box-shadow:
          2px 0 0 white,
          4px 0 0 white,
          6px 0 0 white,
          6px -2px 0 white,
          6px -4px 0 white,
          6px -6px 0 white,
          6px -8px 0 white,
          6px -10px 0 white,
          6px -12px 0 white;
        transform: rotate(45deg);
      }
    }
  }

  .todo-control {
    font-size: 1.5rem;

    .todo-star {
      color: black;
      padding-right: 2rem;

      &.stared {
        color: #F5A623;
      }
    }

    .todo-pencil {
      color: black;
      padding-right: 2rem;
    }
  }
}
.todo-done {
  .todo-title {
    text-decoration: line-through;
  }
  color: #9B9B9B;
  height: 76px;
}
