.todo-item {
  display: flex;
  flex-direction: column;
  background-color: $light-warning;
  border-radius: 3px;
  width: 620px;
  height: 102px;

  .todo-header {
    display: flex;
  }

  .todo-title {
    flex: 1;
    font-size: 1.5rem;
  }
}
